@font-face {
  font-family: "Karla", 'Sans-serif';
  src: url("../assets/fonts/static/Karla-Bold.ttf") format("truetype"),
  url("../assets/fonts/static/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Karla", 'Sans-serif', serif;
  background-color: hsl(148, 38%, 91%);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
  color: hsl(187, 24%, 22%);
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/* utilities */
.error-message{
  color: hsl(0, 66%, 54%);
  font-size: .9rem;
  display: none;
}

.wrapper{
  display: grid;
  background-color: white;
  padding:  2rem;
  gap: 1rem;
  margin: 1.5rem 1rem;
  border-radius: 10px;
}
h1{
  color: hsl(187, 24%, 22%);
}
form{
  display: grid;
  gap: 1rem;
  color: hsl(187, 24%, 22%);
}
.entry{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}
.dot{
  font-size: .7rem;
  color: hsl(169, 82%, 27%);
}
/* inputs */

input[type="text"], input[type="email"]{
  padding: .5rem 1rem;
  border-radius: 7px;
  border: 1px solid hsl(186, 15%, 59%);

}
input[type="text"]:focus, input[type="email"]:focus {
  outline: 1px solid hsl(169, 82%, 27%);
}
input[type="radio"] {
  accent-color: hsl(169, 82%, 27%);
}
ul{
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 1rem;
}
ul li label{
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 7px;
  padding: .5rem 2.5rem;
  display: flex;
  gap: 0.7rem;
  align-items: center;
  cursor: pointer;
}
ul li{
  position: relative;
}
input[type="radio"]{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 17px;

}
input[type="radio"]:checked + label{
  background-color: hsl(148, 38%, 91%);
  border-color: hsl(169, 82%, 27%);
}

.entry:last-of-type div{
  display: flex;

  max-width: 100%;
}
.entry:last-of-type label{
  max-width: 85%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
button[type="submit"] {
  background-color: hsl(187, 24%, 22%);
  color: white;
  border: none;
  padding: .5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
button[type="submit"]:hover {
  background-color: hsl(137, 42%, 45%);

}
#consent{
  display: none;
}
.custom-checkbox {
  display: inline-block;
  min-width: 15px;
  min-height: 15px;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 2px;
  position: relative;
  transition: 300ms ease-in-out;
  cursor: pointer;
}
.custom-checkbox img{
  opacity: 0;
  min-width: 15px;
  min-height: 15px;
  transition: 100ms ease-in-out;
}
input[type="checkbox"]:checked + .custom-checkbox{
  border: 1px solid transparent;
}
input[type="checkbox"]:checked + .custom-checkbox img{
  opacity: 1;
}

@media screen and (width > 600px) {
  .wrapper{
    min-width: 600px;
  }
  form{
    grid-template-columns: 1fr 1fr;
  }
  .entry ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .entry:nth-child(3),.entry:nth-child(4),.entry:nth-child(5),button[type="submit"]{
    grid-column: span 2;
  }
  .entry:last-of-type label{
    max-width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
